body {
  background: rgb(176, 199, 201);
}

header {
  border: 20px solid rgb(196, 170, 85);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  color: rgb(199, 94, 81);
  text-align: center;
  font-size: 40pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}

#backgroundFacts {
  border: 15 solid blue;
}

p {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 10px;
  color:rgb(9, 54, 54);
  text-align: justify;
}

#topTen {
  border: 20px solid blue;
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
}

h2 {
  font-size: 18pt;
}

ul {
  justify-items: left;
}